@charset "utf-8";
/* CSS Document */

.img_rs{
    width:100%;
}
body{
    background:url('../images/img_17.jpg') !important;
}
header{
    background:url(../images/img_01.jpg) top repeat-x;
    height:75px;
}
.logo{
    float:left;
    margin-left:10px;
}
.sesion{
    float:right;
    margin-right:20px;
    margin-top:20px;
    width:250px;
}
.ico_sesion{
    float:right;
    margin-left:5px;
}
.txt_sesion{
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight:bold;
    color:#aa1f2c;
    text-align:right;
}
.btn_sesion{
    text-align:right;
}

/*SECTION HOME*/
section{
    text-align:left;
}
.tl_home{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #383535;
    text-align: center;
    margin-left:10px;
}
.text_home{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    text-align: left;
    margin-left:10px;
}
.text_2_home{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #303030;
    text-align: left;
    margin-left:10px;
}
.sub_home{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight:bold;
    color: #000000;
    text-align: left;
    margin-left:10px;
}
.cont_izq{
    float: left;
    max-width:570px;
}
.tl_seccion{
    background-color:#aa1f2c;
    padding:5px 28px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    color:#fff;
    font-weight:bold;
    margin-left:16px;
    margin-top:20px;
    width: 100%;
}
.tl_seccion_green{
    background-color: #47a447;
    padding:5px 24px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    color:#fff;
    font-weight:bold;
    margin-top:-8px;
}
.tl_seccion_green2{
    background-color: #7E8083;
    padding:5px 24px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    color:#fff;
    margin-top:-8px;
}
.tl_seccion_rf{
    background-color:#aa1f2c;
    padding:5px 28px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    color:#fff;
    font-weight:bold;
    margin-left:16px;
    margin-top:20px;
    width: 97%;
}
.tl_seccion_gris{
    background-color: #DDDDDD;
    padding: 8px 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333333;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 9px;
    width: 100%;
    margin-bottom: -2px;
}
.tl-agen{
    padding: 6px 5px;
    background-color: rgb(83, 158, 78);
    font-size: 12px;
    color: white;
    font-weight: bold;
}
.cont_der{
    max-width:235px;
    background-color:#aa1f2c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFF;
    padding: 28px 15px 0px 15px;
}
.cont_der a{
    color: #ffffff;
    margin-bottom: 7px;
}
.cont_der a:hover{
    color: #ffffff;
}
.cont_der ul{
    padding-left: 0;
}
.cont_der ul li{
    margin: 22px 0px;
    border-bottom: 1px solid #BD313E;
}
.tl_2_home{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:bold;
    color: #aa1f2c;
    text-align: left;
    margin-left:10px;
}
.menu{
    list-style:none;
    text-align:center;
    margin-top:20px;
}
.menu .wrapper{
    display:inline-block;
    vertical-align:top;
    width:230px;
    height: 160px;
    padding:22px;
    margin-right:15px;
    border:#aa1f2c solid 3px;
    background:#fff url(../images/img_03.jpg) bottom repeat-x;
    text-align:center;
    box-shadow: 2px 2px 5px #ccc;
    -moz-box-shadow: 2px 2px 5px #ccc;
    -webkit-box-shadow: 2px 2px 5px #ccc;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.menu li:last-child{
    margin-right:0;
}
.menu .forma{
    position: relative;
}
.txt_menu{
    font-family: Arial, Helvetica, sans-serif;
    font-size:22px;
    font-weight:bold;
    color:#aa1f2c;
    margin-top:10px;
}
/*SECTION BUSCADOR*/
.buscador{
    list-style:none;
    text-align:left;
    margin: 8px;
    float: right;
}
.tl_buscador{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight:bold;
    color: #FFF;
    text-align: left;
    padding-top:20px;
    padding-bottom:15px;
    margin-top:10px;
    border-bottom: #be303e solid 1px;	
}
.icon{
    width:40px;
    height:40px;
    margin-top:10px;
}
.text_buscador{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFF;
    text-align: left;
    border-bottom: #be303e solid 1px;
    padding-bottom:10px;
}
.text_buscador_last{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFF;
    text-align: left;
    padding-bottom:10px;
}
.buscador li{
    display:inline-block;
    vertical-align:top;
    margin-left:15px;
}
.buscador li:last-child{
    margin-right: 0;
}
.seguimiento-btn{
    background: url('../images/icon_seguimiento.png') no-repeat;
    display: block;
    height: 33px;
    padding-left: 42px;
    padding-top: 1px;
}
.reportes-btn{
    background: url('../images/icon_reportes.png') no-repeat;
    display: block;
    height: 33px;
    padding-left: 42px;
    padding-top: 7px;
}
.back-btn{
    background: url('../images/ico_home.png') no-repeat 0px 4px;
    display: block;
    height: 33px;
    padding-left: 42px;
    padding-top: 9px;
}
.back-btn-go{
    background: url('../images/btn_back.png') no-repeat 0px 5px;
    display: block;
    height: 33px;
    padding-left: 42px;
    padding-top: 7px;
}
.creacion-btn{
    background: url('../images/icon_creacion.png') no-repeat;
    display: block;
    height: 33px;
    padding-left: 42px;
    padding-top: 9px;
}
.directorio-btn{
    background: url('../images/ico_contactos2.png') no-repeat;
    display: block;
    height: 33px;
    padding-left: 42px;
    padding-top: 8px;
}
.links-tabs p{margin-top: 4px;}
/*SECTION TABLAS*/
table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: right;
    border-collapse: collapse;
}

th {     
    font-size: 12px;     
    font-weight: bold;     
    padding: 8px;
    text-align:left;     
    color: #000; 
}
td {    
    padding: 8px;         
    color: #000;
    text-align:left;    
}
.td_2 {     
    text-align:center;   
}
.arrow {
    padding-left:3px; 
    float:left;  
}
.tr_2 { 
    background: #e4e4e4;
}
/*SECTION FORM*/
form {   
    font-family: Arial, Helvetica, sans-serif;
    font-size:12pt;
    /*    width: 540px;*/
    padding: 10px 10px 10px 28px;
} 
.form-search-case{
    padding: 0px;
    margin-bottom: 9px;
}
.border-bt{
    border-bottom: 1px solid #BD313E;
    padding-bottom: 10px;
}
fieldset {   
    width:100%;
    border: 0px;
} 
ul {  
    list-style:none;
} 
form li{
    display:inline-block;
    vertical-align:top;
    height:30px;
    padding: 10px 10px 10px 0px;
    /*margin-right:15px;*/
    border: 0px;
    text-align:left;
} 
label {  
    font-family: Arial, Helvetica, sans-serif;
    font-size:12pt; 
    font-weight: bold;
} 
.campo {  
    margin-bottom: 5px;
    width: 30%;
    background-color:#dbd8d8;
    border: 1px solid #CCC;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
} 
.campo_2 {  
    margin-bottom: 5px;
    width: 70%;
    background-color:#dbd8d8;
    border: 1px solid #CCC;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
} 
textarea {  
    margin-bottom: 5px;
    width: 100%;
    background-color:#dbd8d8;
    border: 1px solid #CCC;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 13px;
} 

footer{
    margin-top:15px;
    background:url(../images/img_30.jpg) repeat-x;
    text-align:right;
}
/*SEGUIMIENTO*/
.links-tabs{
    background-color: #AA1F2C;
    color: #ffffff;
    padding: 16px 0px 9px 0px;
    margin-left: 16px;
    width: 97%;
}
.links-tabs p{
    /*    float: left;*/
}
.links-tabs ul li{
    display: inline;
    float: left;
    margin: -6px 17px;
    border-right: 1px solid #BD313E;
}
.links-tabs a{
    color: #ffffff;
    margin-right: 23px;
}
.links-tabs a:hover{
    color: #ffffff;
}
.info{
    padding: 110px 0px;
}
.info img{
    display: block;
    margin: 0 auto;
}
#info{
    position: absolute;
    right: -15px;
}
#info2{
    position: absolute;
    right: -15px;
}
#info3,#info4, #info5, #info6{
    position: absolute;
    right: -15px;
}
.script{
    font-style: italic;
    color: #AA1F2C;
}
.info-scr{
    font-style: italic;
    color: #AA1F2C;
    margin: 10px 0px;
}
.notifications{
    border: 1px solid red;
    padding: 10px;
    position: absolute;
}
.cont_notificaciones {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: -moz-use-text-color #aa1f2c #aa1f2c;
    border-image: none;
    border-radius: 0 0 8px 8px;
    border-right: 1px solid #aa1f2c;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    margin: auto;
    max-width: 300px;
    position: absolute;
    left: 0px;
    z-index: 9;

    
}
.cont_notificaciones {
    position: fixed;
    bottom: 25px !important;
    max-width: 302px;
    margin: auto;
    border: #C21930 solid 1px;
    border-bottom: none;
    border-radius: 9px 9px 0 0;
    background: rgb(251, 251, 251); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(251, 251, 251, 1)), color-stop(11%, rgba(248, 248, 248, 1)), color-stop(100%, rgba(240, 240, 240, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fbfbfb', endColorstr = '#f0f0f0', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* W3C */
    bottom: 0;

}

#seguimiento{
    display: block;
    overflow-y: auto;
}
#lNotificaciones{
    min-height: 250px;
}

.cont_tl_notificaciones {
    background-color: #aa1f2c;
    border-radius: 8px 8px 0 0;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 2px 12px;
    width: 150px;
    cursor: pointer;

}
.no_notificaciones {
    background-color: #fff;
    padding: 5px 8px;
    font-weight: bold;
    color: #aa1f2c;
    float: left;
    margin-right: 10px;
    border-radius: 15px;
}
.no-not{
    background-color: #9E9A9A !important;
}
.tl_notificaciones {
    font-size: 12px;
    padding-top: 3px;

}
#myTab{
    width: 300px;
}
#lNotificaciones ul{
    list-style: circle;
}
#lNotificaciones li{
    padding: 3px 0px;
    line-height: 12px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff
}
#lNotificaciones li:first-child{
    border-top: none;
}
#lNotificaciones li:last-child{
    border-bottom: none;
}
#lNotificaciones li a{
    font-size: 11px;
    color: #616163;
}
#lNotificaciones li a:hover{
    text-decoration: none;
}

#lNotificaciones li:hover {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.11) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, 0.11))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.11) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.11) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.11) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#b3ffffff', endColorstr = '#1cffffff', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.11) 100%); /* W3C */
}
#cierre, #web {
    max-height: 200px;
    overflow-y: scroll;
}

.list-accesorios li{font-size: 12px;display: block;}
.cont-form-manejo hr{border-top: 1px solid #cccccc;}
/*.dsc{color: #999999;}
.dscchk{color: #ffffff;}*/

.cont-options1-after{border: 1px solid #999999;
                     background: rgba(255, 255, 255, 0.46);};
.cont-options2-after{border: 1px solid #999999;
                     background: rgba(255, 255, 255, 0.46);};
.cont-options3-after{border: 1px solid #999999;
                     background: rgba(255, 255, 255, 0.46);};
#resalt{color:#aa1f2c;font-size:14px;}



.cometchat_userlist .cometchat_userscontentname {
    font-size: 9px !important;
    max-width: 198px;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}
img.cometchat_userscontentavatarimage {
    display: none;
}
.cometchat_userlist .cometchat_userscontentname {
    max-width: 192px;

}
.info-dis{
    font-size: 13px;
    font-weight: bold;
    color: #AA1F2C;
    margin-top: 26px;
}

.btn-tomate{
    color: #ffffff;
    background-color: #FFB000;
    border-color: rgba(255, 78, 0, 0.42);
    cursor: pointer;
}
.btn-tomate:hover{
    color: #ffffff;
    background-color: #ff4e00;
    border-color: #ff4e00;
    cursor: default;
}

/*REPORTES */

.alert{margin-bottom: -5px !important;font-size: 16px;}
.dif{color: red;}
.calendar-table th{color: black;}


.barra{
    /*height: 20px;*/
    color: #fff;
    padding: 5px;
    font-size: 9px;
    margin: auto;
    margin-bottom: 5px;
}
.barra .barratit{
    float: left;
    display: block;
}
.barratit{
    font-size: 12px;
    font-style: italic;
    position: absolute;
    margin-top: 3px;
}
.trojo{color: #5cb85c;}
.tazul{color: #f0ad4e;}
.roja{
    background: #5cb85c;
}
.azul{
    background: #f0ad4e;
}
.graficas{
    text-align: center;
    max-width: 90%;
    margin-left: 10%;
}
hr{
    border-color: #dedede;
}
.errorMessage{
    position: relative;
    top: 0px;
    color: #AB1F2C;
    font-size: 13px;
    font-style: italic;
}

/*FILTROS REPORTES*/
.trigerFiltros.btn-warning:focus, .trigerFiltros.btn-warning:active, .trigerFiltros.btn-warning.active, .trigerFiltros.open .trigerFiltros.dropdown-toggle.btn-warning{
    background-image: url('../images/reportes/lupa.svg') !important;
    background-position: 95% center;
    background-repeat: no-repeat; 
    background-size: 23px 23px;
    background-color: #5cb85c !important;
}
.btn-warning:hover{
    background-color: #5CB85C !important;
    border-color: #5cb85c !important; 
}
.trigerFiltros {
    padding: 6px 44px 6px 26px;
    background-image: url('../images/reportes/lupa.svg') !important;
    background-position: 95% center;
    background-repeat: no-repeat; 
    background-size: 23px 23px;
}
.trigerFiltros img{
    max-width: 20px;
}
.ranges{
    width: 100%;
    float: left;
}
.range_inputs{
    text-align: right;
    padding-right: 15px;
}
.daterangepicker .input-mini{
    padding: 0 6px 0 45px !important;
}
.daterangepicker{
    width: 510px;
}
.glyphicon-calendar:before{
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
}
.ini_ico:before{
    content: 'Desde:';
}
.fin_ico:before{
    content: 'Hasta:';
}
.daterangepicker .daterangepicker_input i{
    top: 5px !important;
}
.daterangepicker td.in-range{
    background: #97d5f7 !important;
}
.daterangepicker td.active, .daterangepicker td.active:hover{
    background-color: #357ebd !important;
}

.filtrosReportes .form-control:focus {
    background: #357ebd;
    color: #fff;
}
.cal_out:before{
    font-family: inherit;
    font-size: inherit;
}
.cal_out{
    top: -21px;
    left: 10px;
}
#fecha-range1, #fecha-range2{
    padding-left: 35px;
}
.tit_repo a{
    font-size: 17px !important;
    padding: 6px 15px !important;
}
.resultados_embudo{
    background: #e2e2e2;
    padding: 10px;
    color: #828384;
    margin-top:20px;
}
.resultados_embudo b{
    color: #4071b2;
}
.resultados_embudo h4{
    color: #4071b2;
}
.cargo_rep{
    color: #a4a3a4;
}
.filt_act{
    background: #d4d4d4;
    padding: 5px;
    margin-right: 5px;
    color: #4071b2;
    border-radius: 5px;
    line-height: 29px;
}
.filtrosReportes{
    -webkit-transition: height 2s; /* Safari */
    transition: height 2s;
}
.close_animate{
    height: 0px;
}
.animate{
    height: auto;
}

/*FILTRO MODELOS REPORTES*/
.modelo{
    height: 130px;
    margin-bottom: 10px;
}
.contcheck{
    padding: 0px !important;
}
.checkmodelo{
    height: 90px;
    border-right: 1px solid #3271b3;
    padding: 35px 0 0;
    margin: 0px;
    text-align: center;
}
.checkmodelo input{
    margin-left: 0px !important;
}
.model_info label{
    margin-bottom: 10px;
    display: block;
}
.model_info .versiones li{
    font-size: 9px;
    margin: 0px;
    padding: 2px 0px;
    height: auto !important;
}
ul.versiones{
    margin: 0px;
    padding: 0px;
}
ul.versiones li input{
    margin: 0 7px 0 0px !important;
}

#tabs_repo h2{
    background: #888;
    color: #fff;
    padding: 5px 15px;
    font-size: 15px;
}

.nocursor{cursor: default;}
.btn-inactive{
    color: #ffffff;
    background-color: #616568;
    border-color: #9A9A9A;
}
.btn-inactive:hover{
    color: #ffffff;
}
.form-search hr{
    border-color: #C21930;
}
.select2-container{
    width: 100% !important;
    font-size: 12px !important;
}
.mod_usado{
    height: 100px !important;
}
.mod_usado select{
    font-size: 12px;
}
.multislt{margin: 0 !important;}
.asign-lt{
    font-size: 11px;
    cursor: pointer;
}
.home{
    background:url(../images/home.png) 10px 0px no-repeat;
    padding-left: 38px !important;
}
.editar{
    background:url(../images/editar.png) 10px 0px no-repeat;
    padding-left: 38px !important;
}
.salir{
    background:url(../images/salir.png) 10px 0px no-repeat;
    padding-left: 38px !important;
}
/* ESTILOS PALETA DE ICONOS */
.paleta h4{
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
.paso{
    background: #EEEEEE;
    min-height: 198px;
}
.estado{
    background: #ffffff;
    min-height: 198px;
}
.estado-credito{
    background: #EEEEEE;min-height: 198px;
}
.desiste{
    background: #FFFFFF;min-height: 198px;
}
.desiste .ft{margin-top: 6px;}
.desiste hr{border-top: 4px solid #eeeeee;}
.btn-paso {
    color: #ffffff;
    background-color: #666666;
    border-color: #666666;
    cursor: pointer;
}
.btn-paso:hover {
    color: #ffffff;
    background-color: #666666;
}
.btn-creditosn{
    color: #ffffff;
    background-color: #CCCCCC;
    border-color: rgba(126, 128, 131, 0.33);
    float: left;
    margin-bottom: 10px;
    cursor: pointer;
}
.btn-creditosn-sgc{
    color: #ffffff;
    background-color: #CCCCCC;
    border-color: rgba(126, 128, 131, 0.33);
    cursor: pointer;
}
.btn-creditosn:hover{
    color: #ffffff;
}
.btn-credito{
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
    float: left;
    margin-bottom: 10px;
    cursor: pointer;
}
.btn-credito-sgc{
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
    cursor: pointer;
}
.btn-credito:hover{
    color: #ffffff;
    background-color: #333333;
}
.paso span, .estado span{
    line-height: 12px;
    display: inline-block;
    margin: 7px 3px;
}
.desiste span{
    line-height: 12px;
    display: inline-block;
    margin: 5px 3px 16px;
}
.estado-credito span{
    line-height: 12px;
    display: inherit;
    margin: 2px 0px 3px 29px;
}
.dsc{text-align: left !important;}
.body-paleta{
    border: 1px #CCCCCC solid;
    min-height: 200px;
    margin-left: 16px;
    margin-right: -17px;
    margin-top: 2px;
}
.titdesiste{font-weight: bold;}
/* ESTILOS NUEVO HOME*/

.intro{
    display: table;
    height: auto;
    padding: 70px 0;
    text-align: center;
    color: #fff;
    background: url(../images/fondofinal.jpg) bottom center no-repeat #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.intro {
    width: 100%;
}
.cont-log{
    background: rgba(220, 216, 217, 0.5);
    border-radius: 15px;
    width: auto;
    min-height: 500px;
    padding: 17px;
}
.cont-log form{margin-top: 25px;padding: 0;}
.form-input{height: 45px;background-color: rgba(220, 216, 217, 0.47) !important;border: none;color: #ffffff;}
.input-group{margin-top: 15px;}
.cont-log .col-md-12{z-index: 100;}
.cont-log .input-group-addon{padding: 3px 7px !important;background-color: rgba(238, 238, 238, 0.61);border: none;}
.cont-log a{color: #ffffff;font-size: 13px;}
.cont-log .centrar a{text-decoration: underline;}
.cont-log p{font-size: 12px;padding: 10px 13px 0px 13px;margin-top: 0px;}
.cont-log .rec{color: #B71135;font-size: 13px;padding-left: 14px;padding-top: 15px;font-weight: bold;}
.cont-log #LoginForm_password_em_{margin: 5px 0;z-index: 90;}
.cont-log .errorMessage{color: #b2c219;}
.cont-log #LoginForm_username_em_{top: -15px;z-index: 91;}
.cont-log .form-group{margin-bottom: 0px;}
.foot{text-align: right;position: relative;top: -61px;height: 15px;}
@media (min-width: 768px){
    .intro {
        height: 100%;
        /*padding: 0;*/
    }
}
@media (max-width: 991px){
    input[type="checkbox"]{float: none !important;}
}


